<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>K E Y B O A R D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>V A P O R B O A R D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C0493C41D0BB60F0007BD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0493D81D0BB60F0007BD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0493E31D0BB60F0007BD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0493F91D0BB6A60007BD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
